
:root {
  --cardwidthdesktop: 80vw;
}

.prompt {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  width: var(--cardwidthdesktop);
  transform: translate(-50%, -50%);
  border-radius: 4px;
}

.promptHeader {
  /*box-shadow: 2px 3px 0 rgba(5, 8, 4, 0.8);*/
  color: #fff;
  background-color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: inline-block;
  position: absolute;
  top: -2rem;
  transform: translate(-20%, -20%) skewY(-15deg);
  color: #000;
  border-bottom: 1px solid #ddd;
}

.promptBody {
  margin-top: 2rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

label {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
}

input {
  border: none;
  padding: 0.5rem 0.1rem;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid #e6e6e6;
  transition: all 0.5s;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #ccc;
}

::placeholder {
  color:#ddd;
}

button {
  background: #41444a;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  width: 100%;
  text-transform: uppercase;
  color: #ddd;
  font-weight: bolder;
  transition: all 0.2s;
}

button:focus, button:hover {
  outline: none;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.36);
  transform: translate(-2px, -2px);
  transition: all 0.2s;
}

.currentLogs {
  padding: 0.5rem 0.1rem;
}

.listHead{
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5rem 0.1rem;
  text-align: center;
}

.logs {
  margin-top: 1rem;
}

.log {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.open {
  background:#41444a;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  transition: all 0.2s;
  text-transform: uppercase;
}

.open:focus, .open:hover {
  box-shadow: 3px 3px 0 rgba(0,0,0,0.36);
  transform: translate(-2px, -2px);
  transition: all 0.2s;
}

a:link {
  text-decoration: none;
  color: #ccc;
}

a:visited {
  color: #ddd;
}

a:hover {
  color: #ddd;
}

hr {
  border: 1px solid #e6e6e6;
}

.back {
  position: fixed;
  left: 10%;
  top: 50px;
  width: var(--cardwidthdesktop);
  transform: translate(-50%, 0px);
  display: flex;
  justify-content: center;
  font-size: x-large;
}

.logcard{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  position: absolute;
  left: 50%;
  top: 100px;
  width: var(--cardwidthdesktop);
  transform: translate(-50%, 0px);
  border-radius: 4px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.logheader {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}

.logupdated {
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.logcontent {
  display: flex;
  flex-flow: column wrap;
}

.entrycontent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0.25rem 0rem;
  padding: 0.25rem 1rem;
}

.entrydate {
  margin-right: 1rem;
  font-weight: bold;
  min-width: fit-content;
}

.entrybtns {
  padding: 0.25rem 1rem;
  margin-left: auto;
}

.entry {
  display: flex;
  justify-content: flex-end;
  flex-flow: column wrap;
  align-items: flex-start;
}

.entrybtns {
  display: flex;
}

.fntAwe {
  margin-left: 0.5rem;
  cursor: pointer;
}

.entryedit {
  display: hidden;
}

textarea {
  max-width: var(--cardwidthdesktop);
  width: var(--cardwidthdesktop);
  resize: vertical;
  height: 3rem;
}

.startnav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.startnavlink {
  padding: 0.25rem 0.75rem;
  border: 1px solid black;
  border-radius: 5px;
}

a .startnavlink {
  color: #000;
}

.startcard {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  position: relative;
  left: 50%;
  width: var(--cardwidthdesktop);
  transform: translate(-50%, 100%);
  border-radius: 4px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.logtop {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.changelogname {
  display: flex;
  flex-flow: row nowrap;
}
/**
@media only screen and (max-width: 600px) {
  .startcard {
    width: var(--cardwidthdesktop)*1.5;
  }

  textarea {
    max-width: var(--cardwidthdesktop)*1.5 -1vw;
    width: var(--cardwidthdesktop)*1.5 -1vw;
  }

  .logcard{
    width: var(--cardwidthdesktop)*1.5;
  }

  .prompt {
    width: var(--cardwidthdesktop);
  }
}*/